:root {
    --color-bg-light: hsl(0, 0%, 95%);
    --color-bg-dark: #131313;
    --color-text: #131313;
    --color-text2: hsl(0, 0%, 95%);
    --color-lightgray: hsl(0, 0%, 56%);
    --color-gray: hsl(0, 0%, 73.7%);
    --color-accent: hsl(13, 96%, 70%);

    --color-gradient: linear-gradient(
        65deg,
        hsl(13deg 96% 70%) 0%,
        hsl(8deg 87% 71%) 16%,
        hsl(4deg 75% 71%) 24%,
        hsl(359deg 63% 70%) 30%,
        hsl(354deg 52% 68%) 35%,
        hsl(347deg 44% 65%) 40%,
        hsl(336deg 41% 63%) 45%,
        hsl(322deg 35% 61%) 50%,
        hsl(302deg 26% 58%) 55%,
        hsl(276deg 30% 59%) 60%,
        hsl(263deg 39% 61%) 65%,
        hsl(256deg 50% 62%) 70%,
        hsl(248deg 62% 64%) 76%,
        hsl(239deg 78% 66%) 84%,
        hsl(227deg 96% 61%) 100%
    );

    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    --footer-bg: hsl(223, 21%, 6%);
}

.gradient {
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
