ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em;
    gap: 1em;
    padding-block: 1em;
    margin-block: 1em;
}

ul [role="list"] {
    list-style-type: none;
}

a[role="button"] {
    color: var(--color-text);
    background-color: var(--color-bg-dark);
    font-weight: var(--font-semi);
    transition: all 0.25s ease-out !important;
    display: block;
    border-radius: 0.1em;
    padding-block: 1em;
    padding-inline: 0.9em;
}

a[role="outlineButton"] {
    color: var(--color-text);
    border: 1px solid var(--color-text);
    font-weight: var(--font-semi);
    transition: all 0.25s ease-out !important;
    display: block;
    border-radius: 0.1em;
    padding-block: 0.9em;
    padding-inline: 0.9em;
}

a[role="button"]:hover {
    background-color: var(--color-bg-dark);
}

a[role="outlineButton"]:hover {
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

.image-padding {
    padding: 1em;
}

.accent {
    color: var(--color-accent);
}

.link-style {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.3em;
}

.twitch-link:hover {
    color: var(--color-accent);
}
