a[role="button"] {
    color: var(--color-text);
    background-color: var(--color-bg-dark);
    padding: 0.5em 1em;
    font-weight: var(--font-semi);
    border-radius: 5px;
    transition: all 0.25s ease-out !important;
    display: block;
    width: max-content;
}

a[role="outlineButton"] {
    color: var(--color-text);
    border: 1px solid var(--color-bg-dark);
    padding: 0.5em 1em;
    font-weight: var(--font-semi);
    border-radius: 5px;
    transition: all 0.25s ease-out !important;
    display: block;
    width: max-content;
}

a[role="button"] + a[role="button"] {
    margin-left: 1em;
}

a[role="button"]:hover {
    background-color: var(--color-bg-dark);
    padding: 0.5em 1.5em;
}

a[role="outlineButton"]:hover {
    padding: 0.5em 1.5em;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
