@use "../utility/colors";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
    --font-primary: "Open Sans", sans-serif;
    --font-copy: "Open Sans", sans-serif;
    --font-semi: 600;
    --font-light: 400;

    --step--2: clamp(1.2rem, calc(0.51rem + 0.92vw), 0.69rem);
    --step--1: clamp(1.5rem, calc(0.59rem + 1.21vw), 0.83rem);
    --step-0: clamp(1rem, calc(0.68rem + 1.59vw), 1.88rem);
    --step-1: clamp(1.2rem, calc(0.78rem + 2.08vw), 2.34rem);
    --step-2: clamp(1.44rem, calc(0.9rem + 2.71vw), 2.93rem);
    --step-3: clamp(1.73rem, calc(1.02rem + 3.52vw), 3.66rem);
    --step-4: clamp(2.07rem, calc(1.16rem + 4.55vw), 4.58rem);
    --step-5: clamp(2.49rem, calc(1.31rem + 5.88vw), 5.72rem);
}

p,
a,
li {
    font-size: var(--step--1);
    font-family: var(--font-copy);
    color: var(--color-text);
    line-height: 1.7;
    max-width: 60ch;
}
label {
    font-size: var(--step--2);
    font-family: var(--font-copy);
}

h1 {
    font-size: var(--step-5);
    font-family: var(--font-primary);
    color: var(--color-text);
    max-width: 20ch;
}

h2 {
    font-size: var(--step-4);
    font-family: var(--font-primary);
}

h3 {
    font-size: var(--step-3);
    font-family: var(--font-primary);
}

h4 {
    font-size: var(--step-2);
    font-family: var(--font-primary);
}

h5 {
    font-size: var(--step-1);
    font-family: var(--font-primary);
}

h2,
h3 {
    max-width: 25ch;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: capitalize;
    line-height: 1;
    font-weight: var(--font-semi);
}
