.container {
    width: 900px;
    max-width: 100%;
    margin-inline: auto;
}

.navigation {
    margin: 0;
    max-width: 100%;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
    align-items: center;
    max-width: 90%;
    margin-inline: auto;
}

footer {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        padding-block: 1em;

        ul {
            padding: 0;
            margin: 0;
        }
    }
}
