.container {
    width: 90vw;
    width: clamp(16rem, 90vw, 56.25rem);
    margin-inline: auto;
    position: relative;
}

.navigation {
    margin: 0;
    max-width: 100%;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
    align-items: center;
    max-width: 90%;
    margin-inline: auto;
}
