*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // background-color: rgba(255, 255, 255, 0.1);
}

::selection {
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
    display: block;
}

html:focus-within {
    scroll-behavior: smooth;
}

body,
#__next {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-rendering: optimizeSpeed;
    font-smooth: antialiased;
    overflow-x: hidden;
    background: var(--color-background);
    position: relative;
    line-height: 1.33;
}

.flow > * + * {
    margin-top: var(--flow-space, 1.33em);
}

img,
picture {
    max-inline-size: 100%;
    block-size: auto;
}

.img {
    width: 100% !important;
    position: relative !important;
    min-height: auto !important;
    height: auto !important;
}

.image-container {
    max-width: 100%;
    > div {
        position: unset !important;
    }
    .image {
        object-fit: contain;
        max-width: 100% !important;
        height: unset !important;
    }
}

main:focus {
    outline: none;
}

[href]:hover {
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

a {
    text-decoration: none;
    transition: all 0.35s ease-in-out;
}

// .layout {
//     min-height: 100vh;
// }
