*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    list-style: none;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
    display: block;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth !important;
}

body,
#__next {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-smooth: antialiased;
    overflow-x: hidden;
    background: var(--color-background);
    position: relative;
    // To keep footer at  bottom
    display: flex;
    flex-direction: column;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

img,
picture {
    max-width: min(55rem, 100%);
    display: block;
}

.img {
    width: 100% !important;
    position: relative !important;
    min-height: auto !important;
    height: auto !important;
}

.image-container {
    max-width: 100%;
    > div {
        position: unset !important;
    }
    .image {
        object-fit: contain;
        max-width: 100% !important;
        height: unset !important;
    }
}

figcaption {
    font-size: var(--h3);
    font-style: italic;
    margin-top: 1rem;
}

blockquote {
    padding-left: var(--h4);
    border-left: 5px solid;
    font-style: italic;
}

main:focus {
    outline: none;
}

[href]:hover {
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

a {
    text-decoration: none;
    transition: all 0.25s ease-out !important;
}

footer {
    background-color: var(--color-bg-dark);
    p,
    a {
        color: var(--color-text2);
    }

    a:hover {
        color: var(--color-accent);
    }
}

div[class*="span_"] {
    padding: 1em;
}

div .layout {
    position: relative;
}

footer {
    margin-top: auto;

    .container {
        padding-block: 2em;
    }
}

// @keyframes fadeInAnimation {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
