.commission {
    background-color: var(--color-bg-dark);
    background-image: url(../../img/backgrounds/pattern.png);

    h2 {
        color: var(--color-text2);
        padding-block: 0.5em;
    }

    p,
    ul li {
        color: var(--color-text2);
    }
    .decoration {
        padding-block: 10em;
    }
}

.displayEmotes {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-block: 5em;

    .displayEmotesGallery {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}
