.information {
    background-color: var(--color-bg-dark);
    h2 {
        color: var(--color-text2);
    }
    p {
        color: var(--color-text2);
    }
    color: var(--color-text2);

    .decoration {
        padding-block: var(--space-2xl);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .general {
        a {
            display: block;
        }
        p {
            max-width: 60ch;
        }
    }
}

.pricing {
    background-color: var(--color-bg-dark);
    padding-top: var(--space-2xl);
    color: var(--color-text2);

    .pricing__content {
        padding-top: var(--space-s);
        .price {
            ul {
                border: none;
            }
        }
        .container {
            padding: 0;
        }
        .pricing__example {
            display: grid;
            grid-gap: 1.3em;
            border: 1px solid transparent;

            @supports (width: min(400px, 100%)) {
                grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
            }
            .pricing__gallery {
                display: grid;
                grid-gap: 0em;
                @supports (width: min(150px, 100%)) {
                    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
                }
                img {
                    width: 240px;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }

        .pricing__example_emotes {
            display: grid;
            grid-gap: 2em;
            border: 1px solid transparent;
            @supports (width: min(200px, 100%)) {
                grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
            }

            .pricing__gallery_emotes {
                display: grid;
                row-gap: 0.3em;
                column-gap: 0;
                @supports (width: min(60px, 100%)) {
                    grid-template-columns: repeat(auto-fit, minmax(min(60px, 100%), 1fr));
                }
                img {
                    max-width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .pricing__menu {
        background-image: "";
        border-bottom: 1px solid var(--color-gray);
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        ul {
            li a {
                color: #909090;
                // border-top: 1px solid var(--color-gray);
                // border-left: 1px solid var(--color-gray);
                // border-right: 1px solid var(--color-gray);
                padding-inline: 1em;
                padding-block-start: 0.5em;
            }
            a:hover {
                border-top: 1px solid var(--color-gray);
                border-left: 1px solid var(--color-gray);
                border-right: 1px solid var(--color-gray);
                color: var(--color-text2);
                cursor: pointer;
            }
        }

        .menuActive {
            border-top: 1px solid var(--color-gray);
            border-left: 1px solid var(--color-gray);
            border-right: 1px solid var(--color-gray);
            color: var(--color-text2);
        }

        .menu-group {
            display: flex;
            justify-content: flex-start;
            position: relative;
            width: 100%;
        }

        .pricing__menu-title {
            padding: 0;
            margin: 0;
            p {
                font-size: 0.9em;
                color: var(--color-accent);
            }
        }
    }

    .pricing__details {
        display: grid;
        grid-gap: 2em;
        border: 1px solid transparent;
        @supports (width: min(400px, 100%)) {
            grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        }
        .pricing__info {
            display: flex;
            flex-direction: column;
            border-left: 1px solid #909090b3;
            padding-left: 1em;
        }
    }

    .pricing__terms {
        padding-top: var(--space-2xl);
        p {
            max-width: 60ch;
        }
    }
}

.disclaimer {
    padding-block: var(--space-l);
}
