footer {
    background-color: var(--color-bg-dark);
    .container {
        padding-block: var(--space-2xl);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li,
        a {
            color: var(--color-gray);
        }
        a:hover {
            color: var(--color-accent);
        }
    }
}
footer {
    // margin-top: auto;
}
