.hero {
    background-color: var(--color-bg-light);
    background-image: url(../../img/backgrounds/pattern.png);

    h1,
    h4,
    p {
        color: var(--color-text);
    }
}
.featured {
    .container {
        // padding-top: 0;
        // padding-bottom: 5em;
    }

    background-color: var(--color-bg-light);
    background-image: url(../../img/backgrounds/pattern.png);
    h2 {
        // padding-block: 2em;
    }

    a {
        color: var(--color-text);
    }

    a:hover {
        color: var(--color-accent);
        margin-left: 1em;
    }

    .schedule {
        display: flex;
        flex-direction: column;
        // padding-top: 0;
        // padding-bottom: 2em;

        p {
            color: var(--color-text2);
        }
    }

    .schedule-item {
        display: flex;
        flex-direction: column;
        // padding-block: 1em;
        transition: all 0.25s ease-out !important;
        border-radius: 0.5em;
    }
}
