.hero {
    background-color: var(--color-bg-light);
    background-image: url(../../img/backgrounds/pattern.png);

    .container {
        padding-block: var(--space-2xl);
        .schedule {
            display: flex;
            flex-direction: column;
            .schedule-item {
                display: flex;
                flex-direction: column;
                transition: all 0.25s ease-out !important;
                border-radius: 0.5em;
            }

            a {
                display: block;
                color: var(--color-gray);
            }
            a:hover {
                color: var(--color-accent);
                margin-left: 1em;
            }
        }
    }
}
