.portfolio {
    background-color: var(--color-bg-dark);
    padding-bottom: var(--space-l);

    h2 {
        color: var(--color-text2);
    }
}

.portfolio__emotesContent {
    .wrapper {
        width: 90vw;
        width: clamp(16rem, 90vw, 75rem);
        margin-inline: auto;
        position: relative;
        .portfolio__gallery {
            display: grid;
            row-gap: 0.3em;
            column-gap: 0;
            @supports (width: min(60px, 100%)) {
                grid-template-columns: repeat(auto-fill, minmax(min(60px, 100%), 1fr));
                max-width: 80%;
                display: flex;
                flex-wrap: wrap;
            }
            img {
                max-width: 100%;
                object-fit: cover;
            }

            img + img {
                margin-left: 0.3em;
            }
        }
    }
}

.portfolio__digitalGallery {
    .wrapper {
        width: 90vw;
        width: clamp(16rem, 90vw, 75rem);
        margin-inline: auto;
        position: relative;
        .portfolio__gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: masonry;
            img {
                // width: 400px;
                // height: 400px;
                display: block;

                object-fit: cover;
                &:hover {
                    cursor: pointer;
                }

                &:nth-child(even) {
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }
}
