@use "../../styles/colors";

.hero {
    background: url(../../img/simple_line_2.svg);
    background-size: 50%;
    background-color: #e9e9e9;
    padding: 5em 0;
}

.hero__content {
    padding: 5em 0;
}

.hero__content h1 {
    color: var(--color-dark);
}

.hero__content p {
    padding: 2em 0;
    line-height: 2;
    color: var(--color-dark);
}

.hero__featured {
    padding: 10em 0;
}

.hero__featured h3 {
    padding: 2em 0;
}

.hero__featured img {
    border-radius: 5px;
}

.hero__featured img:hover {
    cursor: pointer;
}

.hero__featured p {
    padding-bottom: 1em;
    font-weight: 600;
}

.accent {
    color: var(--color-primary);
}
