@mixin colors {
    --color-dark: #363636;
    --color-light: #e9e9e9;
    --color-light2: hsl(0, 0%, 98%);
    --color-primary: #ffa385;
    --color-accent: rgb(255, 115, 77);

    h1 {
        color: var(--color-dark);
    }
}

// https://colorhunt.co/palette/9e83b97f7c82e6ddc4f8f8ff
