@use "/styles/colors";
@use "/styles/fonts";

:root {
    @include colors.colors;
    @include fonts.fonts;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
}

/* Remove default m argin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul[role="list"] li {
    display: inline-block;
}

ul[role="list"] li + li {
    margin-left: 1em;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth !important;
}

/* Set core body defaults */
body,
#__next {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-smooth: antialiased;
    overflow-x: hidden;
    color: var(--color-dark);
    background: conic-gradient(from 90deg at 25% 0, #ffd9ce, rgba(255, 217, 206, 0) 50%);
    position: relative;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.post {
    --flow-space: var(--h3);

    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

a:hover {
}

/* Make images easier to work with */
img,
picture {
    max-width: min(55rem, 100%);
    display: block;
}

figcaption {
    font-size: var(--h3);
    font-style: italic;
    margin-top: 1rem;
}

blockquote {
    padding-left: var(--h4);
    border-left: 5px solid;
    font-style: italic;
}

main:focus {
    outline: none;
}

[href]:hover {
    text-decoration: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

a[role="button"] {
    color: #fafafa;
    background-color: var(--color-dark);
    padding: 1em 1em;
    font-weight: var(--font-semi);
    border-radius: 5px;
    transition: all 0.25s ease-out !important;
}

a[role="button"] + a[role="button"] {
    margin-left: 1em;
}

a[role="button"]:hover {
    background-color: #202020;
    padding: 1em 1.5em;
}

a {
    text-decoration: none;
}

section {
    padding: 1em;
}

div[class*="span_"] {
    padding: 1em;
}

footer {
    padding: 5em 0;
    background: conic-gradient(from 90deg at 25% 0, #ffd9ce, rgba(255, 217, 206, 0) 50%);
    color: var(--pri-clr-midnight);
    width: 100%;
    bottom: 0;
}

footer a {
    color: var(--pri-clr-midnight);
}

footer .row {
    align-items: center;
}

footer .social {
    display: flex;
    gap: 1em;
}

footer .copy_lang {
    display: flex;
    gap: 1em;
}

div .layout {
    position: relative;
}

@media (max-width: 35em) {
    footer .copyright {
        display: none;
    }
}

@media (min-width: 600px) {
    :root {
        --type-scale: 1.25;
    }
    .container {
        width: 600px;
    }
}
@media (min-width: 900px) {
    :root {
        --type-scale: 1.25;
    }
    .container {
        width: 900px;
    }
}
@media (min-width: 1200px) {
    :root {
        --type-scale: 1.414;
    }
    .container {
        width: 1200px;
    }
}
